{% extends 'base.html' %}

{% block title %}
add new post
{% endblock title %}

{% block content %}
    <div class='ui segment'>
        <div class="header">
          <h1>Add new discussion</h1>
    </div>
    <div class="image content">

      <div class="description">
        <div class="ui header"></div>
        <form action="" method="POST" class="ui form" enctype='multipart/form-data'>
          {% csrf_token %}
          {{ form.as_p }}

      </div>
    </div>
    <div class="actions">
      <button type='submit' class="ui positive right labeled icon button">
        Add
        <i class="checkmark icon"></i>
      </button>
      </form>
    </div>
    </div>
{% endblock content %}
