{% extends 'base.html' %}

{% block title %}

  Forum page
{% endblock title %}

{% block content %}
  {% url 'chat:add-discussion-view' as path_to_add_discussion %}

  <div class="ui grid">
    <div class="centered eleven wide column">
      <div class="ui segment" >
        <div class="ui left rail">
          <div class="ui segment">
            Left Rail Content
          </div>
        </div>
        <div class="ui right rail massive ">
          <a href="{{ path_to_add_discussion }}">
          <button class="ui right labeled icon button massive basic">
  <i class="plus icon"></i>
  Add new discussion
</button>
            </a>
        </div>
        {% for obj in qs %}


          <div class="ui fluid card">
            <div class="content">
              <div class="right floated meta">
                <div class="ui grid">
                  <div class="row">
                    {% ifequal request.user obj.author.user %}
                      <a href="{% url 'chat:discussion-update' obj.pk %}"><button class="ui button bwhite-lg ">Update</button></a>
                      <a href="{% url 'chat:discussion-delete' obj.pk %}"><button class="ui button bwhite-lg ">Delete</button></a>
                    {% endifequal %}
                  </div>
                </div>

              </div>
              <a href={{obj.author.get_absolute_url}}>
                <img class="ui avatar image img-cover" src={{obj.author.avatar.url}}>
              </a>
              {{ obj.author.user }} - {{ obj.timestamp|timesince}} ago
            </div>
          <div class="content">
            <div class="ui grid">

              <h2 class="four wide column left floated"> {{ obj.Discussion_name }} </h2>
              <div class="four wide column" > <a href="{% url 'chat:room' obj.slug %}"  class="ui button  right floated secondary" > Join </a></div>

            </div>
              <h3><p> {{ obj.content }} </p></h3>


            </div>
            <div class="ui fluid image pd">
              {% if obj.image %}
                <a href="{% url 'chat:room' obj.slug %}">
                  <img src={{obj.image.url}}>
                </a>
              {% endif %}
            </div>
          </div>


        {% endfor %}
       </div>
    </div>
    {#    <div class="five wide column">#}
    {#        <div class="ui segment">#}
    {#            {% if post_added %}#}
    {#                <div class="ui green message">Post added</div>#}
    {#            {% endif %}#}
    {#            <form action="" method="POST" class='ui form' enctype="multipart/form-data">#}
    {#                {% csrf_token %}#}
    {#                {{p_form}}#}
    {#                <button type='submit' name="submit_p_form" class="ui positive button w-full mt-5">Send</button>#}
    {#            </form>#}
    {#        </div>#}
    {#    </div>#}
  </div>

{% endblock content %}

{% block scripts %}
  <script>
    $( document ).ready(function() {
      let display = false
      $(".cmt_btn").click(function () {
        if (display===false) {
          $(this).next(".comment-box").show("slow");
          display=true
        } else {
          $(this).next(".comment-box").hide("slow");
          display=false
        }
      });

      $('.like-form').submit(function(e){
        e.preventDefault()

        const post_id = $(this).attr('id')

        const likeText = $(`.like-btn${post_id}`).text()
        const trim = $.trim(likeText)

        const url = $(this).attr('action')

        let res;
        const likes = $(`.like-count${post_id}`).text()
        const trimCount = parseInt(likes)

        $.ajax({
          type: 'POST',
          url: url,
          data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'post_id':post_id,
          },
          success: function(response) {
            if(trim.includes('Unlike')) {
              $(`.like-btn${post_id}`).text('Like')

              res = trimCount - 1
            } else {
              $(`.like-btn${post_id}`).text('Unlike')

              res = trimCount + 1
            }

            $(`.like-count${post_id}`).text(res)
          },
          error: function(response) {
            console.log('error', response)
          }
        })

      })
    });
  </script>
{% endblock scripts %}
