{% extends 'base.html' %}
{% load static%}

{% block content %}
<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--Custom css-->
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <title>Floragram - </title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
  <script src="https://use.typekit.net/hoy3lrg.js"></script>
  <script>try {
    Typekit.load({async: true});
  } catch (e) {
  }</script>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
  <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/chat.css' %}"/>
<link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>


</div>
<div id="frame">
<div id="sidepanel">
    <div id="profile">
      <div class="wrap">
        <img id="profile-img" class="ui avatar image grounded img-cover" src={{picture.url}} class="online" alt=""/>
        <h3 style="margin:20px 0 0 0">{{ username_f }}</h3>
        <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>

      </div>

    </div>

<div id="contacts" style="padding: 0px 5px">

        <div class="contact">
          <div class="wrap">


            <div class="meta">

              <p class="preview" style="font-size: 24px" >{{discussion.Discussion_name}}</p>

              <p class="name" style="font-size: 18px">{{discussion.content}}</p>
                <div class="ui fluid image pd">
              {% if discussion.image %}

                  <img src={{discussion.image.url}}>

              {% endif %}
            </div>
            </div>
          </div>
        </div>


    </div>


  </div>
  <div class="content">
    <div class="contact-profile">

      <img src={{ discussion.author.avatar.url }} alt=""/>
      <div class="ui header small" >{{ discussion.author.first_name }} {{ discussion.author.last_name }} <span style="color: rgb(120, 124, 126); font-size:12px;"> Posted {{ discussion.timestamp|timesince}} ago </span></div>
<p style="font-size:24px">{{discussion.Discussion_name}}</p>

    </div>
    <div class="messages" id="messages">
      <ul id="chat-log">
        {% for obj in messages %}

         <li {%  if obj.author.username  ==  username_f %}
           class="sent"
              {% else %}  class="replies"
                 {% endif %} >
            <img src={{ obj.author.profile.avatar.url }} alt="" />
            <p>{{ obj.content }}</p>
          </li>

        {% endfor %}
      </ul>
    </div>
    <div class="message-input">
      <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..."/>
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script>

  var roomName = {{ room_name_json }};
  var username = {{ username }};
  var chatSocket = new ReconnectingWebSocket(
          'ws://' + window.location.host +
          '/ws/chat/' + roomName + '/');

  chatSocket.onopen = function (e) {
    //fetchMessages();
  }

  chatSocket.onmessage = function (e) {
    var data = JSON.parse(e.data);
    console.log(data);
    if (data['command'] === 'messages') {
      for (let i = 0; i < data['messages'].length; i++) {
        createMessage(data['messages'][i]);
      }
    } else if (data['command'] === 'new_message') {
      createMessage(data['message']);
    }
  };

  chatSocket.onclose = function (e) {
    console.error('Chat socket closed unexpectedly');
  };
  document.querySelector('#chat-message-input').onkeyup = function (e) {
    if (e.keyCode === 13) {  // enter, return
      document.querySelector('#chat-message-submit').click();
    }
  };

  document.querySelector('#chat-message-submit').onclick = function (e) {

    var messageInputDom = document.getElementById('chat-message-input');
    var message = messageInputDom.value;
    chatSocket.send(JSON.stringify({
      'room_name': roomName,
      'command': 'new_message',
      'message': message,
      'from': username
    }));

    messageInputDom.value = '';
  };

  function fetchMessages() {
    chatSocket.send(JSON.stringify({'command': 'fetch_messages'}));
  }

  function createMessage(data) {
    var author = data['author'];

    var msgListTag = document.createElement('li');
    var imgTag = document.createElement('img');
    var pTag = document.createElement('p');
    pTag.textContent = data.content;
    imgTag.src = data['avatar_url'];

    if (author === username) {
      msgListTag.className = 'sent';
    } else {
      msgListTag.className = 'replies';
    }
    msgListTag.appendChild(imgTag);
    msgListTag.appendChild(pTag);
    document.querySelector('#chat-log').appendChild(msgListTag);
  }

</script>
{% endblock content %}


