{% extends 'base.html' %}

{% block title %}Post{% endblock title %}

{% block content %}


  <div class="ui segment">




    <div class="ui right close rail">

      <table class="ui basic table">
        <thead>
        <tr>
          <th>Scientific classification</th>
          <th></th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Family</td>
          <td>{{ plant.Family }}</td>

        </tr>
        <tr>
          <td>Tribe</td>
          <td>{{ plant.Tribe }}</td>

        </tr>
        <tr>
          <td>Genus</td>
          <td>{{ plant.Genus }}</td>

        </tr>
        </tbody>
      </table>

    </div>


    <div class="ui grid">
      <div class='row'>
        <div class='eight wide column'>
           <a  href={{post.author.get_absolute_url}} class="ui gray ribbon label">



                {{post.author.first_name}}
                {{post.author.last_name}}


 </a>


          <img style="max-height: 500px ; width: auto ; object-fit: cover;" class="ui medium rounded image centered "
               src={{ post.image.url }}>

          <div class="ui centered ">
            <div class="content">

              <div class="ui header centered mt-5">{{ post.plant_name }}</div>

              <div class="description">
                {{ post.content }}
              </div>
            </div>
          </div>
        </div>
        <div class='eight wide column'>

          <div class="ui segment">
            <div class="content">

              <div class="header"><h1>{{ plant.plant_name }}</h1></div>

              <div class="description">
                <img class="ui small left floated image" src={{ plant.image.url }}>
                <h3>{{ plant.article }}</h3>
                <div class="header">
                  <h2>Growing conditions</h2>
                </div>

                <h3>{{ plant.growing_conditions }}</h3>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    {% if   IsEmty %}
      <div class="ui divider"></div>
      <div class="ui header centered"> Stages of growth</div>
      <div class="ui three column grid">
      {% for obj in post.image_of_growth_stage %}
        <div class="column">
          <div class="ui fluid card ">
            <div class="image ">
              <img style="height: 350px;width: 100%; object-fit: cover;" src={{ obj.image.url }}>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="column">
        <div class="ui fluid card ">
          <a class="ui label massive" href="{% url 'posts:post-update' post.pk %}">

          <i class="add icon massive gray" style="height: 250px;width: 100%; margin-top: 70px" }></i>
          </a>
        </div>
      </div>
    {% endif %}
    </div>
  </div>

{% endblock content %}
