{% extends 'base.html' %}
{% load static %}
{% load materializecss %}
{% block title %}
update post history
{% endblock title %}
{% block css %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
        integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous"/>
{% endblock css %}
{% block content %}
    <div class='ui segment center aligned'>
    <img src={% static "images/stages_of_growth.png" %}>
        <h3>Add new foto of your plant </h3>
        <form style="width: 400px; margin:0 auto;" action="" method="POST" class="ui form centered" enctype="multipart/form-data">
            {% csrf_token %}
           {{ form }}
            <button type='submit' class="ui button primary mt-5">Add</button>
        </form>
    </div>
{% endblock content %}
